<div id="show_post" ng-controller="issuesShowCtrl">
	<div id="heading">
		<div class="issue-add" ng-show="currentUser">
			<a type="button" class="btn btn-success" href="/#/issues/{{issue._id}}/new">Add a New Post</a>
		</div>
	</div>
	<div class="page-header">
		<h2>{{issue.title}}</h2>
	</div>
	<div class="jumbotron">
		<h4>{{issue.description}}</h4>
	</div>

	<div class="page-header">
		<h3>Posts</h3>
	</div>

	<div>
		<ul id="posts_list" class="list">

			<li ng-repeat="post in issue.posts" class="col-md-12">
				<h4><a href="/#/posts/{{post._id}}">{{post.title}}</a></h4>
				{{post.author.name}}
			</li>
		</ul>
	</div>
</div>