html {
	font-family: 'Open Sans',sans-serif;
	font-weight: 300;

	body {
		font-family: 'Open Sans',sans-serif;
		font-weight: 300;
	}
}

a {
	cursor: pointer;
}

#wrapper {
	padding-left: 0px;
	padding-right: 0px;
}

header {
	background-color: skyblue;
	min-height: 74px;
	min-width: 100%;
	font-size: 14px;

	nav#menu {
		padding-top: 9px;
	}

	a {
		color: white;
		font-weight: 300;
		font-size: 18px;
	}

	a:hover {
		background-color: transparent;
		color: white;
		text-decoration: underline;
	}

	li:hover, li.open {
		background-color: transparent;


		a:hover {
			background-color: transparent;
			color: white;
			text-decoration: underline;
		}
	}	
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
}


.text-errors {
	width: 300px !important;
	text-align: right !important;
	top: 0px !important;
	right: 5px !important;
}


div#issues_div {
	width: 1200px;
	margin: 0 auto;
}

div#hot {
	margin-top: 10px;	
}
#hot1, #hot2, #hot3 {
	color: white;
	height: 300px;
}
#hot1 {
	background-color: #e74c3c;
	width: 33%;
}

#hot2 {
	background-color: #f1c40f;
	width: 34%;
}

#hot3 {
	background-color: #3498db;
	width: 33%;
}

div#issues {
	margin-top: 50px;
}

ul#issues_list {
	list-style: none;
	padding-left: 0px;
}

ul#issues_list li {
	padding-left: 10px;
	height: 100px;
	padding-top: 10px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:  0 1px 1px rgba(0, 0, 0, 0.075);
	margin-bottom: 20px;
}