<div id="profile_div" ng-controller="userEditCtrl" class="col-md-8 col-md-offset-2">
	<div class="edit_profile">
		<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)" class="alert-animate">{{alert.message}}</alert>
		<h3>Edit profile</h3>
		<form ng-submit="submit()" name="profileForm" role="form">
			<div class="form-group" ng-class="{ 'has-error': profileForm.name.$invalid, 'has-success': profileForm.name.$valid, 'has-feedback': true}">
				<label for="name">Name</label>
				<input class="form-control" type="text" name="name" placeholder="Enter your name" ng-model="user.name" required ng-minlength=3>
				<span class="text-errors error-label form-control-feedback" ng-class="{'glyphicon': profileForm.name.$valid, 'glyphicon-ok': profileForm.name.$valid }"><span ng-show="profileForm.name.$error.required">Name is required.</span><span ng-show="profileForm.name.$error.minlength">Name should be at least 3 characters.</span></span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': profileForm.gender.$invalid, 'has-success': profileForm.gender.$valid, 'has-feedback': profileForm.gender.$dirty }">
				<label for"gender">Gender</label>
				<select class="form-control" name="gender" ng-model="user.gender" required>
					<option value="true">Male</option>
					<option value="false">Female</option>
				</select>
			</div>
			<div class="form-group has-feedback" ng-class="{ 'has-error': profileForm.age.$invalid, 'has-success': profileForm.age.$valid && profileForm.age}">
				<label for="name">Age</label>
				<input class="form-control" type="number" name="age" placeholder="Enter your age" ng-model="user.age" min="1" max="999">
				<span class="text-errors error-label number form-control-feedback" ng-class="{'glyphicon': profileForm.age.$valid, 'glyphicon-ok': profileForm.age.$valid }"><span ng-show="profileForm.age.$error.number">Age should be a number.</span><span ng-show="profileForm.age.$error.min">Age should be larger than 0</span><span ng-show="profileForm.age.$error.max">Age should be smaller than 1000</span></span>
			</div>
			<div class="form-group">
				<input class="btn btn-success" type="submit" value="Save" ng-disabled="profileForm.$invalid">
			</div>
		</form>
	</div>
	<h3>Authentication</h3>
	<table class="table table-stripped table-condensed">
		<tr>
			<th>Authentication</th>
			<th>Account</th>
			<th>Action</th>
		</tr>
		<tr>
			<td>Facebook</td>
			<td></td>
			<td ng-show="user.facebook"><a ng-click="disconnectFacebook()">Disconnect</a></td>
			<td ng-hide="user.facebook"><a ng-click="connectFacebook()">Connect</a></td>
		</tr>
		<tr>
			<td>Twitter</td>
			<td></td>
			<td ng-show="user.twitter"><a ng-click="disconnectTwitter()">Disconnect</a></td>
			<td ng-hide="user.twitter"><a ng-click="connectTwitter()">Connect</a></td>
		</tr>
	</table>
</div>