<div id="show_post" ng-controller="postsShowCtrl">
	<div class="row post-header page-header">
		<div class="col-md-10 row text-right">
			<h3>{{post.title}}</h3>
		</div>
		<div class="col-md-2 name">
			<a>{{post.author.name}}</a>
		</div>
	</div>
	<div class="row post-body" ng-bind-html="post.text"></div>

	<div id="comments-div" ng-controller="newCommentsCtrl">
		<h3 class="page-header row">Comments</h3>
		<div class="write_comment row" >
			<form role="form" name="commentForm" ng-submit="submit()">
				<div class="form-group">
					<textarea class="form-control" ng-model="comment.text" placeholder="What do you think about this post?"></textarea>
				</div>
				<input type="submit" value="Submit" class="btn btn-success pull-right">
			</form>
		</div>
		<div class="comments">
			<div ng-repeat="comment in post.comments" class="comment">
				<div>
					<a>{{comment.user.name}}</a>
					
				</div>
				<div>
					{{ comment.text}}
				</div>
			</div>
		</div>
	</div>
</div>