<div id="issues_div" ng-controller="issuesCtrl" ui-view>
	<div class="row" id="heading">
		<div class="issue-add" ng-show="currentUser.role == 'admin'">
			<button type="button" class="btn btn-success" ui-sref="issues.new">Add a New Issue</button>
		</div>
	</div>
	<div class="row">
		<h2>Hot Issues</h2>
	</div>
	
	<div id="hot" class="row">
		<div id="hot1" class="col-md-4" ng-if="issues.length > 0">
			<h3>{{issues[0].title}}</h3>
			{{issues[0].description}}
			{{issues[0].summary}}

		</div>
		<div id="hot2" class="col-md-4" ng-if="issues.length > 1">
			<h3>{{issues[1].title}}</h3>
			{{issues[1].description}}
			{{issues[1].summary}}
		</div>
		<div id="hot3" class="col-md-4" ng-if="issues.length > 2">
			<h3>{{issues[2].title}}</h3>
			{{issues[2].description}}
			{{issues[2].summary}}
		</div>
	</div>
	<div class="row" id="issues">
		<h2>Issues</h2>
		<ul id="issues_list" class="list">
			<li ng-repeat="issue in issues" class="col-md-12">
				<h4><a href="/#/issues/{{issue._id}}">{{ issue.title}}</a></h4>
				{{issue.description}}
		</li>
		</ul>
	</div>
</div>