<div id="issue_new">
	<div class="modal-header">
		<button type="button" class="close display:block" ng-click='closeModal()'>&times;</button>
		<h2 class="modal-title">Add a New Issue</h2>
	</div>
	<form name="issueForm" id="issueForm" role="form" novalidate ng-submit="submit()">
		<div class="modal-body">
			<div class="form-group" ng-class="{'has-error': issueForm.title.$invalid && issueForm.title.$dirty, 'has-success': issueForm.title.$valid, 'has-feedback': issueForm.title.$dirty}">
				<input type="text" name="title" id="title" class="form-control" placeholder="Enter title" ng-model="issue.title" required ng-minlength=6>
				<span class="text-errors form-control-feedback hide" ng-class="{'hide': !issueForm.title.$dirty, 'glyphicon': issueForm.title.$valid && issueForm.title.$dirty, 'glyphicon-ok': issueForm.title.$valid && issueForm.title.$dirty }"><span ng-show="issueForm.title.$error.required">Title is required.</span><span ng-show="issueForm.title.$error.minlength">Title should be at least 6 characters.</span></span>
			</div>
			<div class="form-group" ng-class="{'has-error': issueForm.description.$invalid && issueForm.description.$dirty, 'has-success': issueForm.description.$valid, 'has-feedback': issueForm.description.$dirty}">
				<textarea class="form-control" id="description" name="description" placeholder="Enter description" ng-model="issue.description" required ng-minlength=15></textarea>
				<span class="text-errors form-control-feedback hide" ng-class="{'hide': !issueForm.description.$dirty, 'glyphicon': issueForm.description.$valid && issueForm.description.$dirty, 'glyphicon-ok': issueForm.description.$valid && issueForm.description.$dirty }"><span ng-show="issueForm.description.$error.required">Description is required.</span><span ng-show="issueForm.description.$error.minlength">Description should be at least 15 characters.</span></span>
			</div>
			<div class="form-group">
				<textarea class="form-control" id="summary" name="summary" placeholder="Enter summary" ng-model="issue.summary"></textarea>
			</div>
			<div class="form-group" ng-class="{'has-error': issueForm.type.$invalid && issueForm.type.$dirty, 'has-success': issueForm.type.$valid, 'has-feedback': issueForm.type.$dirty}">
				<select class="form-control" name="type" id="type" ng-model="issue.type" required>
					<option value="">Select category</option>
					<option value="Political">Political</option>
					<option value="Economic">Ecnomic</option>
					<option value="Social">Social</option>
				</select>
			</div>
		</div>
		<div class="modal-footer">
			<div class="form-group">
				<input type="submit" value="Submit" class="btn btn-success" ng-disabled="issueForm.$invalid || submitting">
			</div>
		</div>
	</form>
</div>